@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 223 27% 85%;
    --foreground: 224 41% 17%;

    --card: 223 27% 90%;
    --card-foreground: 224 41% 17%;

    --popover: 223 27% 90%;
    --popover-foreground: 224 41% 17%;

    --primary: 224 41% 27%;
    --primary-foreground: 210 40% 98%;

    --secondary: 223 27% 75%;
    --secondary-foreground: 224 41% 27%;

    --muted: 223 27% 78%;
    --muted-foreground: 224 41% 27%;

    --accent: 195 100% 50%;
    --accent-foreground: 224 41% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 223 27% 75%;
    --input: 223 27% 78%;
    --ring: 195 100% 50%;

    --chart-1: 224 41% 27%;
    --chart-2: 195 100% 50%;
    --chart-3: 210 31% 51%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;

    --sidebar-background: 224 41% 22%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 224 41% 17%;
    --sidebar-accent: 224 41% 32%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 224 41% 32%;
    --sidebar-ring: 195 100% 50%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 195 100% 50%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 195 90% 45%;

    --chart-1: 210 40% 98%;
    --chart-2: 195 100% 50%;
    --chart-3: 210 31% 51%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 222 47% 9%;
    --sidebar-accent: 222 47% 14%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 14%;
    --sidebar-ring: 195 90% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
